{% load static %}
{% static "img" as BaseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Титул Сайта</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">  <!-- https://fontawesome.com/-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">       <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">        <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'slick/slick.min.css' %}">          <!-- https://kenwheeler.github.io/slick/ -->
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-upright.css' %}">
<!--
    
TemplateMo 555 Upright

https://templatemo.com/tm-555-upright

-->
</head>
<body>    
    <div class="container-fluid">
        <div class="row">
            <!-- Leftside bar -->
            <div id="tm-sidebar" class="tm-sidebar"> 
                <nav class="tm-nav">
                    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div>
                        <div class="tm-brand-box">
                            <h2 class="tm-brand">КабСбор</h2>
                        </div>
                        <ul id="tm-main-nav">
                            <li class="nav-item">                                
                                <a href="#home" class="nav-link current">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-home nav-icon"></i>
                                    Главная
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#about" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-user-friends nav-icon"></i>
                                    О компании
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#products" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-cart-arrow-down nav-icon"></i>
                                    Продукция
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="#contact" class="nav-link">
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-envelope nav-icon"></i>
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
            <div class="tm-main">
                <!-- Home section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'img/img-01.jpg' %}"></div>
                    <section id="home" class="tm-section">
                        <h2 class="tm-text-primary">Добро пожаловать в НАЗВАНИЕ</h2>
                        <hr class="mb-5">
                        <div class="row">
                            <div class="col-lg-6 tm-col-home mb-4">
                                <div class="tm-text-container">
                                    <div class="tm-icon-container mb-5 mr-0 ml-auto">
                                        <i class="fas fa-broadcast-tower fa-4x tm-text-primary"></i>
                                    </div>
                                    <p>
                                        <font color="red">
                                        Две горизонтальные колонки с текстом. Можно добавить иконку или например картинку.
                                        Текст забит жестко в шаблон и не будет меняться со временем.
                                        </font>
                                    </p>
                                    <p>
                                        <font color="red">
                                        Кто опишет Негодованье, гнев царя? Гремит анафема в соборах;
                                        Мазепы лик терзает кат. На шумной раде, в вольных спорах
                                        Другого гетмана творят.  С брегов пустынных Енисея
                                        Семейства Искры, Кочубея  Поспешно призваны Петром.
                                        Он с ними слезы проливает. Он их, лаская, осыпает
                                        И новой честью и добром. Мазепы враг, наездник пылкий,
                                        Старик Палей из мрака ссылки  В Украйну едет в царский стан.
                                        Трепещет бунт осиротелый. На плахе гибнет Чечель смелый
                                        И запорожский атаман. И ты, любовник бранной славы,
                                        Для шлема кинувший венец, Твой близок день, ты вал Полтавы
                                        Вдали завидел наконец. И царь туда ж помчал дружины.
                                        </font>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 tm-col-home mb-4">
                                <div class="tm-text-container">
                                    <div class="tm-icon-container mb-5 mr-0 ml-auto">
                                        <i class="fas fa-satellite-dish fa-4x tm-text-primary"></i>
                                    </div>
                                    <p>
                                        <font color="red">
                                        Горит восток зарею новой
                                        Уж на равнине, по холмам
                                        Грохочут пушки. Дым багровый
                                        Кругами всходит к небесам
                                        Навстречу утренним лучам.
                                        Полки ряды свои сомкнули.
                                        В кустах рассыпались стрелки.
                                        Катятся ядра, свищут пули;
                                        Нависли хладные штыки.
                                        </font>
                                    </p>
                                    <p>
                                        <font color="red">
                                        Сыны любимые победы,
                                        Сквозь огнь окопов рвутся шведы;
                                        Волнуясь, конница летит;
                                        Пехота движется за нею
                                        И тяжкой твердостью своею
                                        Ее стремление крепит.
                                        И битвы поле роковое
                                        Гремит, пылает здесь и там,
                                        Но явно счастье боевое
                                        Служить уж начинает нам.
                                        Пальбой отбитые дружины,
                                        Мешаясь, падают во прах.
                                        </font>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr class="tm-hr-short mb-5">
                        <div class="row tm-row-home">                            
                            <div class="tm-col-home tm-col-home-l">

                                {% for news_entry in news_entries %}
                                <div class="media mb-4">
                                    {% if news_entry.icon == '0' %}
                                        <i class="fas fa-scroll fa-4x tm-post-icon tm-text-primary"></i>
                                    {% endif %}

                                    {% if news_entry.icon == '1' %}
                                        <i class="fas fa-cloud-sun fa-4x tm-post-icon tm-text-primary"></i>
                                    {% endif %}

                                     {% if news_entry.icon == '2' %}
                                        <i class="fas fa-dove fa-4x tm-post-icon tm-text-primary"></i>
                                    {% endif %}

                                     {% if news_entry.icon == '3' %}
                                        <i class="fas fa-cloud-moon-rain fa-4x tm-post-icon tm-text-primary"></i>
                                    {% endif %}

                                    <div class="media-body">
                                        <a href="#" class="d-block mb-2 tm-text-primary tm-post-link">{{news_entry.name}}</a>
                                        <p> {{news_entry.description | safe}} </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="tm-col-home mr-0 ml-auto">
                                <div class="tm-img-home-container"></div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- About section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'img/img-03.jpg' %}"></div>
                    <section id="about" class="tm-section">
                        <h2 class="tm-text-primary">О компании</h2>
                        <hr class="mb-5">
                        
                        <div class="row tm-row-about">
                            <div class="tm-text-container">
                                <p class="mb-4">
                                    Компания  «ABCable» специализируется на разработке и поставке ВЧ и СВЧ-компонентов,
                                    радиочастотных (коаксиальных) кабельных сборок, в том числе осуществляет
                                    комплексные поставки электронной компонентной базы (ЭКБ) и комплектующих изделий
                                    (КИ) российского и зарубежного производства.
                                </p>
                                <p class="mb-4">
                                    Наш профессионализм и опыт работы позволяет подходить комплексно  к решению
                                    поставленной задачи, а наши долгие отношения с Партнерами позволяют  нашим Клиентам
                                    получить лучшие условия для сотрудничества  и оптимальные сроки поставки требуемой
                                    продукции.
                                </p>
                                <p class="mb-4">
                                    Особое внимание уделяется  технической составляющей проектов: инженеры и
                                    конструкторы, максимально быстро и эффективно смогут предложить  решение для
                                    Заказчика с использованием  требуемых компонентов СВЧ тракта.
                                </p>
                                <p class="mb-4">
                                    Компания «ABCable» располагает большим количеством складских позиций в РФ и имеет
                                    доступ к основным складам ведущих мировых производителей и дистрибьютеров,
                                    что позволяет нам оперативно предоставлять актуальную информацию нашим Клиентам.
                                </p>
                                 <p class="mb-4">
                                    На нашем предприятии внедрена  система СМК, которая обеспечивает постоянный
                                    контроль качества на всех этапах поставки продукции Заказчику.
                                </p>
                                <p class="mb-4">
                                    Вся продукция поставляется в соответствии с ГОСТ 20465-85, ГОСТ РВ 51914-2002
                                    и MIL-C-39012
                                </p>
                                <p class="mb-4">
                                    <b></b>
                                    <b>Кабельные сборки коаксиальные:</b>
                                        <li>производство радиочастотных кабельных сборок с использованием комплектующих
                                            импортного и российского производства </li>
                                        <li>производство фазостабильных, а также фазированных  по фазе и  электрической
                                            длине  СВЧ кабельных сборок с диапазоном работы до 67 ГГц</li>
                                        <li>разработка ТУ, КД на сборки кабельные</li>
                                        <li>входной контроль, измерение электрических параметров, паспортизация,
                                            испытания, приемка ОТК</li>
                                </p>
                                <p class="mb-4">
                                    <b></b>
                                    <b>Поставка и дистрибьюция:</b>
                                        <li>поставка кабельной продукции от ведущих мировых производителей</li>
                                        <li>поставка ВЧ и СВЧ-компонентов всех типов исполнений (ГОСТ РВ 51914-2002,
                                            ГОСТ 20265-83 и MIL-STD-348)</li>
                                        <li>поставка сложных импортных позиций ЭКБ и КИ</li>
                                </p>
                            </div>
                            <div class="tm-col-about tm-col-about-l">
                                <img src="{% static 'img/img-about-01.jpg' %}" alt="Image" class="img-fluid mb-5 tm-img-about">
                                <p>
                                    <font color="red">Другая картинка, но слева. Можно сделать текст, можно картинку. Но это все образует
                                    таблицеподобную структуру</font>
                                </p>
                            </div>
                            <div class="tm-col-about tm-col-about-r">
                                <p class="mb-4">
                                    <font color="red">К ногам злодея, молча, пасть
                                    Как бессловесное созданье,
                                    Царем быть отдану во власть
                                    Врагу царя на поруганье,
                                    Утратить жизнь — и с нею честь,
                                    Друзей с собой на плаху весть,
                                    Над гробом слышать их проклятья,
                                    Ложась безвинным под топор,
                                    Врага веселый встретить взор
                                    И смерти кинуться в объятья,
                                    Не завещая никому
                                    Вражды к злодею своему!…
                                    И вспомнил он свою Полтаву
                                    Обычный круг семьи, друзей,
                                    Минувших дней богатство, славу,
                                    И песни дочери своей,
                                    И старый дом, где он родился,
                                    Где знал и труд и мирный сон,
                                    И всё, чем в жизни насладился,
                                    Что добровольно бросил он,
                                    И для чего? —
                                    Но ключ в заржавом
                                    Замке гремит — и пробуждён
                                    Несчастный думает: вот он!</font>
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Products section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'img/img-03.jpg' %}"></div>
                    <section id="products" class="tm-section">
                        <h2 class="tm-text-primary">Продукция</h2>
                        <hr class="mb-5">

                        <div class="tm-text-container">
                            <p>
                                <font color="red">Две горизонтальные колонки с текстом. Можно добавить иконку или например картинку.
                                    Текст забит жестко в шаблон и не будет меняться со временем.</font>
                            </p>
                            <p>
                                <font color="red">Кто опишет Негодованье, гнев царя? Гремит анафема в соборах;
                                Мазепы лик терзает кат. На шумной раде, в вольных спорах
                                Другого гетмана творят.  С брегов пустынных Енисея
                                Семейства Искры, Кочубея  Поспешно призваны Петром.
                                Он с ними слезы проливает. Он их, лаская, осыпает
                                И новой честью и добром. Мазепы враг, наездник пылкий,
                                Старик Палей из мрака ссылки  В Украйну едет в царский стан.
                                Трепещет бунт осиротелый. На плахе гибнет Чечель смелый
                                И запорожский атаман. И ты, любовник бранной славы,
                                Для шлема кинувший венец, Твой близок день, ты вал Полтавы
                                    Вдали завидел наконец. И царь туда ж помчал дружины.</font>
                            </p>
                        </div>


                        <div class="mt-5">
                            <div class="tm-carousel">
                                {% for link in links_out %}
                                <div class="tm-carousel-item" >
                                    <figure class="effect-honey mb-4">
                                        <img src="{{link.image.url}}" alt="Featured Item">
                                        <figcaption>
                                            <ul class="tm-social">
<!--                                                <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>-->
                                                <li><a href = {{link.url}} class="tm-social-link"><i class="fab fa-cc-visa"></i></a></li>
<!--                                                <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>-->
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tm-about-text">
                                        <h3 class="mb-3 tm-text-primary tm-about-title">{{link.name}}</h3>
                                        <p>{{link.description}}</p>
                                        <h4 class="tm-text-secondary tm-about-subtitle">{{link.extra_text}}</h4>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Contact section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'img/img-04.jpg' %}"></div>
                    <div id="contact" class="tm-section">
                        <h2 class="tm-text-primary">Контакты</h2>
                        <hr class="mb-5">
                        <div class="row">
                            <div class="col-xl-6 tm-contact-col-l mb-4">
                                <form id="contact-form" action="" method="POST" class="tm-contact-form">
                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control rounded-0" placeholder="Имя" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" class="form-control rounded-0" placeholder="Почта" required />
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" id="contact-select" name="inquiry">
                                            <option value="-">Тема вопроса 0</option>
                                            <option value="sales">Тема 1</option>
                                            <option value="creative">Тема 2</option>
                                            <option value="uiux">Тема 3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <textarea rows="8" name="message" class="form-control rounded-0" placeholder="Тело сообщения" required=></textarea>
                                    </div>
            
                                    <div class="form-group tm-text-right">
                                        <button type="submit" class="btn btn-primary">Отправить</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 tm-contact-col-r">
                                <!-- Map -->
                                <div class="mapouter mb-4">
                                    <div class="gmap_canvas">
                                        <iframe width="100%" height="520" id="gmap_canvas"
                                            src="https://maps.google.com/maps?q=Moscow, Севастопольский проспект, 77-4&t=&z=15&ie=UTF8&iwloc=&output=embed"
                                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                                    </div>
                                </div>
            
                                <!-- Address -->
                                <address class="mb-4">
                                    город Москва,<br>
                                    Севастопольский проспект, дом 77 корпус 4<br>
                                    индекс 117461
                                </address>
            
                                <!-- Links -->
                                <ul class="tm-contact-links mb-4">
                                    <li class="mb-2">
                                        <a href="tel:0100200340">
                                            <i class="fas fa-phone mr-2 tm-contact-link-icon"></i>
                                            Телефон: 8(903)710-17-23
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto:info@company.com">
                                            <i class="fas fa-at mr-2 tm-contact-link-icon"></i>
                                            Email: info@company.com
                                        </a>
                                    </li>
                                </ul>
                                <ul class="tm-contact-social">
                                    <li><a href="https://fb.com/templatemo" class="tm-social-link"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="https://facebook.com" class="tm-social-link"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="https://instagram.com" class="tm-social-link"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://youtube.com" class="tm-social-link"><i class="fab fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Copyright -->                
                <div class="tm-section-wrap tm-copyright row">
                    <div class="col-12">
                        <div class="text-right">
                            Copyright 2021 Serejka production
                        </div> 
                    </div>
                </div>                 
            </div> <!-- .tm-main -->                      
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>          <!-- https://jquery.com/ -->
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>  <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script src="{% static 'js/parallax/parallax.min.js' %}"></script>     <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>     <!-- https://imagesloaded.desandro.com/ -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>          <!-- https://isotope.metafizzy.co/ -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <script src="{% static 'slick/slick.min.js' %}"></script>              <!-- https://kenwheeler.github.io/slick/ -->
    <script src="{% static 'js/templatemo-script.js' %}"></script>
</body>
</html> 