{% load static %}
{% static "img" as BaseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Титул Сайта</title>
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/specimen/Kumbh+Sans -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">  <!-- https://fontawesome.com/-->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">       <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">        <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'slick/slick.min.css' %}">          <!-- https://kenwheeler.github.io/slick/ -->
    <link rel="stylesheet" href="{% static 'slick/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-upright.css' %}">
<!--
    
TemplateMo 555 Upright

https://templatemo.com/tm-555-upright

-->
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- Leftside bar -->
            <div id="tm-sidebar" class="tm-sidebar"> 
                <nav class="tm-nav">
                    <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div>
                        <div class="tm-brand-box">
                            <h2 class="tm-brand">КабСбор</h2>
                        </div>
                        <ul id="tm-main-nav">
                            <li class="nav-item">                                
                                <a href="http://localhost:8000#home" class="nav-link external" target="_parent" >
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-home nav-icon"></i>
                                    Главная
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="http://localhost:8000#about" class="nav-link external" target="_parent" >
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-user-friends nav-icon"></i>
                                    О компании
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="http://localhost:8000#products" class="nav-link external current" target="_parent" >
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-cart-arrow-down nav-icon"></i>
                                    Продукция
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="http://localhost:8000#contact" class="nav-link external" target="_parent" >
                                    <div class="triangle-right"></div>
                                    <i class="fas fa-envelope nav-icon"></i>
                                    Контакты
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            
            <div class="tm-main">
                <!-- Home section -->
                <div class="tm-section-wrap">
                    <div class="tm-parallax" data-parallax="scroll" data-image-src="{% static 'img/img-01.jpg' %}"></div>
                    <section id="home" class="tm-section">
                        <h2 class="tm-text-primary"><b>Коаксиальные разъемы типа SMA</b></h2>
                        <div class="row">
                            <div class="col-lg-6 tm-col-home mb-4">
                                <img src="{% static 'img/prod-1.png' %}" alt="Image" class="img-fluid mb-5 tm-img-about">
                            </div>
                            <div class="col-lg-6 tm-col-home mb-4">
                                <div class="tm-text-container">
                                    <p>
                                        <b>Коаксиальные разъемы типа SMA</b> – (Sub-Miniature version A) разработаны для
                                        подключения коаксиального кабеля с  волновым сопротивлением 50 Ом. В
                                        радиочастотных разъемах типа SMA применены коаксиальная линия размером
                                        4,1/1,27 мм, заполненная фторопластом или тефлоном. Резьба на корпусе розетки
                                        и присоединительной гайке вилки SMA-соединителей — дюймовая: 0,250-36UNS-2A(2B)
                                        или 1/4″-36UNS-2A(2B) по стандарту ANSI/ASME B1.10-2004.
                                    </p>
                                    <p>
                                        Основные сферы применения SMA  соединителей – военная, аэрокосмическая,
                                        телекоммуникационная, медицинская и т.п.
                                    </p>
                                    <p>
                                        <b>Присоединительные размеры соединителей тип SMA, изготавливаемых ООО «ABCable»,
                                        соответствуют ГОСТ РВ 51914-2002, MIL-C-39012, МЭК 60169-15.</b>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <img src="{% static 'img/prod-2.png' %}" alt="Image" class="img-fluid mb-5 tm-img-about">
                        <div class="tm-text-container">
                            <p>
                               Габариты соединителей SMA, поставляемые компанией ООО «ABCable» соответствуют
                                требованиям стандартов MIL-C-39012, МЭК 60169-15, ГОСТ РВ 51914-2002 и имеют
                                следующие основные электрические и механические параметры:
                            </p>
                        </div>

<!--                        <div class="table-wrapper">-->
<!--                            <table class="fl-table">-->
<!--                                <tbody>-->
<!--                                {% for param in params %}-->
<!--                                <tr>-->
<!--                                    {% for note in param%}-->
<!--                                        <td>-->
<!--                                            {% for line in note%}-->
<!--                                            <p>{{line}}</p>-->
<!--                                            {% endfor %}-->
<!--                                        </td>-->
<!--                                    {% endfor %}-->
<!--                                </tr>-->
<!--                                {% endfor %}-->
<!--                                <tbody>-->
<!--                            </table>-->
<!--                        </div>-->

<!--                        <div class="tm-text-container">-->
<!--                            <p>-->
<!--                                <b>Основные модификации коаксиальных соединителей типа SMA:</b>-->
<!--                            </p>-->
<!--                        </div>-->
<!--&lt;!&ndash;                        <script>&ndash;&gt;-->
<!--&lt;!&ndash;                            function OnClickEvent(Element) {&ndash;&gt;-->
<!--&lt;!&ndash;                                if (Element.className == 'btn_dormant') {&ndash;&gt;-->
<!--&lt;!&ndash;                                    hideAll(Element)&ndash;&gt;-->
<!--&lt;!&ndash;                                }&ndash;&gt;-->
<!--&lt;!&ndash;                                else if (Element.className == 'btn_clicked') {&ndash;&gt;-->
<!--&lt;!&ndash;                                    Element.className = 'btn_dormant';&ndash;&gt;-->
<!--&lt;!&ndash;                                }&ndash;&gt;-->
<!--&lt;!&ndash;                                return false;&ndash;&gt;-->
<!--&lt;!&ndash;                            }&ndash;&gt;-->
<!--&lt;!&ndash;                        </script>&ndash;&gt;-->
<!--                        <script>-->
<!--                            function OnClickEvent(Element) {-->
<!--                                if (Element.className == 'btn_dormant') {-->
<!--                                    var a = document.querySelectorAll('.btn_clicked');-->
<!--                                    [].forEach.call(a, function (el) {-->
<!--                                        el.className = 'btn_dormant';-->
<!--                                    });-->
<!--                                    Element.className = 'btn_clicked';-->

<!--                                    var a = document.querySelectorAll('.product_table');-->
<!--                                    [].forEach.call(a, function (el) {-->
<!--                                        el.classList.add("hidden")-->
<!--                                    });-->
<!--                                    var tbl = document.getElementById(Element.getAttribute('data-tableid'))-->
<!--                                    tbl.classList.remove("hidden")-->
<!--                                }-->
<!--                                else if (Element.className == 'btn_clicked') {-->
<!--                                    Element.className = 'btn_dormant';-->
<!--                                    var tbl = document.getElementById(Element.getAttribute('data-tableid'))-->
<!--                                    tbl.classList.add("hidden")-->
<!--                                }-->
<!--                                return false;-->
<!--                            }-->
<!--                        </script>-->
<!--                        {% for button in buttons%}-->
<!--                             <button class="btn_dormant" type="button" id={{button.ident}} data-tableid={{button.table}}-->
<!--                                     onclick="return OnClickEvent(this);">-->
<!--                                 {% autoescape off %}{{button.label | linebreaks}}{% endautoescape %}-->
<!--                            </button>-->
<!--                        {% endfor %}-->

<!--                        {% for single_table in full_data%}-->
<!--                            <div class="table-wrapper product_table hidden" id={{single_table.ident}}>-->
<!--                                <table class="fl-table">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        {% for header in single_table.column_names%}-->
<!--                                        <th>{{header}}</th>-->
<!--                                        {% endfor %}-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    {% for line in single_table.content %}-->
<!--                                    <tr>-->
<!--                                        {% for cell in line%}-->
<!--                                            <td>-->
<!--                                                {{cell}}-->
<!--                                            </td>-->
<!--                                        {% endfor %}-->
<!--                                    </tr>-->
<!--                                    {% endfor %}-->
<!--                                    <tbody>-->
<!--                                </table>-->
<!--                            </div>-->
<!--                        {% endfor %}-->
<!--   sdqafqwfffada-->


<!--                        <div class="table-wrapper product_table hidden" id="product_table_1">-->
<!--                            <table class="fl-table">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    {% for header in headers%}-->
<!--                                    <th>{{header}}</th>-->
<!--                                    {% endfor %}-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                {% for modification in modifications %}-->
<!--                                <tr>-->
<!--                                    {% for line in modification%}-->
<!--                                        <td>-->
<!--                                            {{line}}-->
<!--                                        </td>-->
<!--                                    {% endfor %}-->
<!--                                </tr>-->
<!--                                {% endfor %}-->
<!--                                <tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                        <div class="table-wrapper product_table hidden" id="product_table_2">-->
<!--                            <table class="fl-table">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    {% for header in headers%}-->
<!--                                    <th>{{header}}</th>-->
<!--                                    {% endfor %}-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                {% for modification in modifications %}-->
<!--                                <tr>-->
<!--                                    {% for line in modification%}-->
<!--                                        <td>-->
<!--                                            {{line}}-->
<!--                                        </td>-->
<!--                                    {% endfor %}-->
<!--                                </tr>-->
<!--                                {% endfor %}-->
<!--                                <tbody>-->
<!--                            </table>-->
<!--                        </div>-->
<!--                        <div class="table-wrapper product_table hidden" id="product_table_3">-->
<!--                            <table class="fl-table">-->
<!--                                <thead>-->
<!--                                <tr>-->
<!--                                    {% for header in headers%}-->
<!--                                    <th>{{header}}</th>-->
<!--                                    {% endfor %}-->
<!--                                </tr>-->
<!--                                </thead>-->
<!--                                <tbody>-->
<!--                                {% for modification in modifications %}-->
<!--                                <tr>-->
<!--                                    {% for line in modification%}-->
<!--                                        <td>-->
<!--                                            {{line}}-->
<!--                                        </td>-->
<!--                                    {% endfor %}-->
<!--                                </tr>-->
<!--                                {% endfor %}-->
<!--                                <tbody>-->
<!--                            </table>-->
<!--                        </div>-->
                    </section>
                </div>

                <!-- Copyright -->                
                <div class="tm-section-wrap tm-copyright row">
                    <div class="col-12">
                        <div class="text-right">
                            Copyright 2021 Serejka production
                        </div> 
                    </div>
                </div>                 
            </div> <!-- .tm-main -->                      
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>          <!-- https://jquery.com/ -->
    <script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>  <!-- https://github.com/ChrisWojcik/single-page-nav -->
    <script src="{% static 'js/parallax/parallax.min.js' %}"></script>     <!-- https://pixelcog.github.io/parallax.js/ -->
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>     <!-- https://imagesloaded.desandro.com/ -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>          <!-- https://isotope.metafizzy.co/ -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> <!-- https://dimsemenov.com/plugins/magnific-popup/ -->
    <script src="{% static 'slick/slick.min.js' %}"></script>              <!-- https://kenwheeler.github.io/slick/ -->
    <script src="{% static 'js/templatemo-script.js' %}"></script>
</body>
</html> 